@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --cor-de-fundo: #ff78eda2;
    --fonte-principal: Playfair;
    --fonte-titulo: Poetsen One;
}

body{
    background-color: var(--cor-de-fundo);
    margin: 50px;
}

p{
    font-family: var(--fonte-principal);
    font-size: 10px;
}

h1{
    font-family:var(--fonte-titulo);
    font-size: 40px;
    text-align: center;
}

h2{
    font-family:var(--fonte-principal);
    font-size: 30px;
}

h3{
    font-family:var(--fonte-principal);
    font-size: 20px;
}

h4{
    font-family:var(--fonte-principal);
    font-size: 30px;
    text-align: center;
}

h5{
    font-family:var(--fonte-principal);
    font-size: 40px;
    text-align: center;
}

