@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --cor-de-fundo1: #a7dcff;
    --cor-de-fundo2: #ccffcca2;
    --cor-de-fundo3: #ffffdff8;
    --fonte-principal: Playfair;
    --fonte-titulo: Poetsen One;
}

body{
    background: linear-gradient(var(--cor-de-fundo1), var(--cor-de-fundo2), var(--cor-de-fundo3));
    margin: 50px;
}

h1{
    font-family:var(--fonte-titulo);
    font-size: 50px;
    text-align: center;
}

h2 i{
    font-family: var(--fonte-principal);
    font-size: 35px;
}

h3{
    font-family: var(--fonte-principal);
    font-size: 30px; 
}

h4{
    font-family: var(--fonte-principal);
    font-size: 25px;
}

h7{
    font-family: var(--fonte-principal);
    font-size: 25px;
}




@media screen and (min-width: 750px){
    h1{
        font-family:var(--fonte-titulo);
        font-size: 25px;
        text-align: center;
    }
}